<h1 style="background-color: #b3b3b3" class="p-3 text-center w-100">Perfil de usuario</h1>
<section class="d-flex flex-wrap justify-content-evenly">
 
    <div class="card m-1" style="width: 18rem;">
      {{#if user.avatar}}
      <img src={{user.avatar}} class="card-img-top object-fit-cover" alt= {{user._id}}"..." style="height: 12 rem;">
      {{/if}}
      <div class="card-body d-flex flex-column justify-content-center">
        {{#if user.nombre}}
        <h5 class="card-title text-center">Nombre y Apellido: {{user.nombre}}</h5>
        {{/if}}
        {{#if user.fecha_nacimiento}}
        <p class="card-text text-center">Fecha Nacimiento: {{user.fecha_nacimiento}}</p>
        {{/if}}
        {{#if user.ciudad}}
        <p class="card-text text-center">Ciudad: {{user.ciudad}}</p>
        {{/if}}
        <H3 class="card-text text-center">Email: {{user.email}}</h3>
        <a href="/actualizarUsuario" class="btn btn-dark">Modificar Datos de Usuario</a>
        <a href='/resetpassword/{{user.email}}' class="btn btn-dark">Resetear Password</a>
      </div>
    </div>
 
</section>